.time_picker {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b6b6b6;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0px 5px 0px;
}

.time_picker_selected {
  border-color: #2b59ff;
}

.time_picker:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
